.language-controller-container{
    text-align: center;
    margin: 20px;
}

.language-controller-button{
    padding: 10px 20px;
    font-size: 16px;
    background-color: navy;
    color: wheat;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.language-controller-button:hover{
    background-color: #45a049;
}