.big-bang-image{
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body {
  font-family: Arial, sans-serif;
  background: rgb(118,9,227);
  background: linear-gradient(90deg, rgba(118,9,227,1) 0%, rgba(9,15,121,1) 35%, rgba(0,255,8,1) 100%);
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #333;
  margin-top: 20px;
}

div {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}